.header{
    
    background-color: none;
    height: 40px;
    padding: 10px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    
    
}

.nav{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 4dvw;
    padding-right: 4rem;
}

a{
    font-weight: bold;
    text-decoration: none; 
    color: #DDDDDD;
    text-wrap: nowrap;
  }

    .nav a:hover{
    color: #65428A; 
  }
.logo-container{
  padding-left: 4rem;
}
.exdev-logo {
  
  height: 40px;
  width: auto;
}

@media (max-width: 400px) {
  
  .logo-container{
    padding-left: 2rem;
  }
  .nav{
    padding-right: 2rem;
  }
}

@media (max-width: 320px) {
  .nav{
    padding-right: 1rem;
  }
  .logo-container{
    padding-left: 1rem;
  }
}