:root{
  --bg-color: #0C030E;
  --text-color: #DDDDDD;
  --link-hover: #65428A;
}
body.light {
  --bg-color: #F0F9FF;
  --text-color: #111111;
  --link-hover: #0077cc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  max-width: 1440px; 
  width: 100%; 
  margin: 0 auto; 
  
}

.nav a:hover {
  color: var(--link-hover);
}

a{
  color: var(--text-color);
}

h2, p, span, ul {
  color: var(--text-color);
}

h3 { 
  margin: 0;
  color: var(--text-color);
}
h4{
  color: var(--text-color);
  margin: 0;
}